/* Comfortaa Font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* Tsukimi Rounded Regular Font */
@font-face {
    font-family: 'Tsukimi Rounded Regular';
    src: URL('/assets/fonts/tsukimi-rounded-regular.ttf') format('truetype');
}

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Header */

.only-nav{
    display: flex;
    justify-content: center !important;
}

.only-nav .only-nav-logo{
    color: #FFFFFF !important;
    font-family: 'Comfortaa', cursive;
    text-transform: none;
    font-size: 32px;
}

.navbar{
    background-color: #535353;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-brand{
    color: #FFF5F2;
}

.nav-logo{
    left: 33px;
    top: 27px;
    color: #FFF5F2;
    height: 57px !important;
    width: 121px !important;
}

.navbar-nav{
    color: #FFF5F2;
}

.nav-link{
    color: #FFF5F2 !important;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-sign{
    color: #BA91FE;
    margin-right: 10px;
}

.nav-sign:hover{
    color: #BA91FE;
    text-decoration: none;
}

.active{
    border-bottom: 5px solid #680FF8;
}

/* Header End */


/* Main */
main{
     min-height: 490px;
    background-color: #000000;
}

section{
    padding-top: 65px;
}

.last-section{
    background: #000000;
}

/* Game Search */

.game-search{
    text-align: end;
}

.game-search button{
    text-decoration: none;
    background: none;
    border: none;
}
.game-search button:hover{
    background: none;
    border: none;
}
.game-search button:active{
    background: none !important;
    border: none !important;
}


.game-search .search-background{
    display: inline-flex;
    background-color: #424242;
    border: 2px solid #424242;
    border-radius: 76px 0px 40px;
    width: 266px;
    height: 64px;
    padding-left: 47px;
    align-items: center;
    color: #B0B0B0;
}

.game-search .search-background .search-text{
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    padding-left: 8px;
}


.modal-content{
    height: 0px;
    width: 0px;
    border: none !important;
}

.modal-content .search-modal{
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal-content .search-modal .search-area{
    display: inline-flex;
    align-items: center;
}
.modal-content .search-modal .search-area .search-input .change-photo-input{
    padding-left: 80px;
    padding-top: 8px;
}
.modal-content .search-modal .search-area .search-input input{
    width: 350px;
    height: 50px;
    text-align: center;
    background-color: #B0B0B0;
    border: 2px solid #424242;
    border-top-left-radius: 76px;
    border-right: none;
}
.modal-content .search-modal .search-area button{
    border: 2px solid #424242;
    background: #424242;
    border-bottom-right-radius: 40px;
    width: 266px;
    height: 50px;
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    color: #B0B0B0;
}
.modal-content .search-modal .search-area button:active{
    background: #424242 !important;
    border: #424242 !important;
}

/* Game Search */

/* Carousel Design */

.owl-nav{
    font-size: 50px;
    position: absolute;
    right: 0;
    top: -70px;
    color: #FFFFFF;
}

.owl-prev{
    position: absolute;
    right: 65px;
}

.owl-carousel .active{
    border-bottom: none;
}

.game-slider .slider-title{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: #FFFFFF;
}

.game-card .game-photo{
    border: 2px transparent solid;
    border-radius: 76px 76px 76px 0px;
    max-width: 260px;
    max-height: 300px;
}
.game-card .game-card-content{
    display: inline-flex;
    padding-top: 10px;
    padding-left: 15px;
}
.game-card .game-card-content .game-title{
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;

}
.game-card .game-card-content .game-fav{
    position: absolute;
    right: 15px;
    color: #FFFFFF;
}

.game-card-click a{
    text-decoration: none;
    color: #FFFFFF;
}

.game-card-click a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.game-card-click a:active{
    text-decoration: none;
    color: #FFFFFF;
}


/* Carousel Design */




/* About */
#about{
    padding-top: 5%;
}
#about h3{
    display: inline-block;
    font-weight: 400;
    font-size: 48px;
    color: #BA91FE;
    font-family: 'Tsukimi Rounded Regular';
}
#about p{
    padding-left: 2%;
    padding-top: 1%;
    font-weight: 400;
    font-size: 32px;
    line-height: 40.76px;
    font-family: 'Comfortaa', cursive;
}
#about .row{
    display: flex;
    flex-wrap: nowrap;
}
/* About */

/* User Profile */

.user-profile{
    padding-top: 100px !important;
}

.user-profile .profile-photo img{
    max-height: 425px;
}

.user-profile .profile-photo button{
    background: none;
    border: none;
}

.user-profile .profile-photo button:active{
    background: none !important;
    border: none !important;
}

.user-profile .user-detail .user-fullname{
    display: inline-flex;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 52px;
    padding-bottom: 5px;
}

.user-profile .user-detail .user-fullname .fullname-content{
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    font-weight: bold;
}
.user-profile .user-detail .user-fullname .fullname-change{
    position: absolute;
    right: 0;
}

.user-profile .user-detail .user-fullname .fullname-change .fullname-change-button{
    background: none;
    border: none;
}

.user-profile .user-detail .show-detail{
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding-top: 50px;
}

.user-profile .user-detail .show-detail ul{
    list-style: none;
    line-height: 50px;
}

.profile-edit-modal{
    height: 300px;
}



/* User Profile */

/* Game details */
#video{
    padding-top: 5%;
    /* min-height: 500px; */
}
#video .iframe{
    width: 100%;
    height: 450px;
   
}
#video iframe{
    width: 100%;
    height: 100%;
    border: 0px;
    /* border-radius: 123px; ---------------------------------------------------------- */
}


.button-favorite{
    padding-top: 1%;
    padding-bottom: 1%;
}
.button-favorite .red-fav-btn{
    background-color:  #FF0C0C;
    color: white;
    padding-top: 1%;
    padding-left: 1%;
    border: 2px solid #FF0C0C;
    box-sizing: border-box;
    border-radius: 6px;
    width: 345px;
    height: 46px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 15.23px;
    text-align: start;
}
.button-favorite .red-fav-btn:hover{
    text-decoration: none;
}
.button-favorite .red-fav-btn svg{
    margin-right: 20%;
}



#description{
    padding-top: 1%;
    padding-bottom: 5%;
    font-family: 'Comfortaa', cursive;
    color: #FFFFFF;
}
#description .header{
    color: #680FF8;
}
#description .header p{
    line-height: 1px;
    font-size: 24px;
    font-weight: 400;
}
#description .text-li li{
    list-style-type: none;
    padding-top: 5%;
}
#description .text{
    padding-top: 3%;
    text-indent: 20px;
}
.rqrmts-title{
    padding-left: 30px;
}
.dscrptn-horizontal-line{
    width: 625px;
    height: 2px;
    /*background: #6B6B6B;*/
    background: linear-gradient(to right,#680FF8,#6B6B6B);
}
.rqrmts-horizontal-line{
    width: 432px;
    height: 2px;
    /*background: #6B6B6B;*/
    background: linear-gradient(to right,#680FF8,#6B6B6B);
    margin-left: 30px;
}
.requirements-list{
    padding-left: 30px;
}










/* Game details */





/* Main End */


/* Footer */

footer{
    padding-top: 20px;
    padding-bottom: 1px;
    background-color: #535353;
}

.footer-logo{
    font-family: 'Tsukimi Rounded Regular';
    font-size: 48px;
    color: #BA91FE;
}

.footer-text{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.3px;
    color: #777777;
}

.footer-social-icons{
    display: flex;
    list-style: none;
    color: #FFFFFF;
}
.footer-social-icons a{
    transition: 0.3s;
    color: #FFFFFF;
}

.footer-social-links{
    margin-right: 15px;
    font-size: 24px;
}

/* Footer End */